<mat-toolbar color="primary">
    <button mat-icon-button routerLink="/">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-button routerLink="/pagina1">Pagina 1</button>
    <button mat-button routerLink="/pagina2">Pagina 2</button>
    <button mat-button routerLink="/pagina3">Pagina 3</button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>